@font-face {
  font-family: "norseBold";
  src:
    url("fonts/Norse-Bold.woff2") format("woff2"),
    url("fonts/Norse-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: 1.5;
    font-style: serif;
}
/* h1 {
    font-family: "norseBold", serif;
} */

.background {
    height: 100vh;
    width: auto;
}

.container {
    display: flex;
}

input {
    display: block;
    border: #E5E7EB solid;
    border-radius: 3px;
}

.forms {
    display: flex;
}

button {
    color: white;
    background-color: #596D48;
    border: 0px;
    border-radius: 3px;
}

input:invalid{ 
    border-color: red;
}

input:focus {
    box-shadow: 5px 5px #888888;
}

/* .container > .left{
    position: relative;
} */

.odin {
    position: absolute;
    left: 50px;
}

