@font-face {
  font-family: "norseBold";
  src:
    url("fonts/Norse-Bold.woff2") format("woff2"),
    url("fonts/Norse-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* h1 {
    font-family: "norseBold", serif;
} */

.background {
    height: 100vh;
    width: auto;
}